doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        if title
            title=`${title} - JavaScript Hardening Overview`
        else
            title JavaScript Hardening Overview
        link(rel="stylesheet", href="/node_modules/wingcss/dist/wing.min.css")
    body
        h1 JavaScript hardening overview
        nav
            h2 Navigation
            mixin nav(href, title, text)  
                li
                    a(href=href)=title
                    span=` - ${text}` 
            ul
                +nav("/", "Reference", "Overview of the collected data")
                +nav("/config-generator", "Config Generator", "Generate (starter) config files based on the info in this overview")
                +nav("/explanation", 
                    "Explanation",
                    "Info about this project, the methodology used and other FAQ")
                +nav("https://github.com/Denperidge/javascript-hardening-overview/", "GitHub", "Source code & data repository")
                +nav("/sources", "Sources", "Links that aren't included elsewhere")
        main
            | !{content}