---
layout: layout.pug
permalink: /config-generator/index.html
---
- const dataSet = dataSets[0]
- const features = dataSet.features
form
    for feature in features
        fieldset
            legend=feature.title