
#out {
    width: 92vw;
    min-height: 200px;
}

legend {
    font-weight: bold;
}

fieldset {
    padding-bottom: 15px;
    margin: 20px 0px;
}
#general-settings {
    padding: 10px;
}
#general-settings fieldset {
    margin: 0;
}

fieldset:disabled {
    opacity: 0.5
}

fieldset:disabled input[name="enable-feature"] {
    opacity: 0;
}

.docs-link {
    float: right;
}

input[type="number"], input[type="text"] {
    width: 50%;
    margin-right: 10px;
}