doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        main
            table
                tr
                    th Feature
                    for packageManager in tools
                        th=`${packageManager.name} (${packageManager.version})`
                for feature in features
                    td=feature.title
                    for toolId in toolIds
                        td=feature.implementations[toolId].prettyPrint